# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PController.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alexc\OneDrive\Документы\UStudy\PController\.idea\.idea.PController\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
